In [1]:
import pandas as pd
import seaborn as sns

In [2]:
ba_df = pd.read_csv('data/beer_advocate.csv')
ba_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586615 entries, 0 to 1586614
Data columns (total 15 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   Unnamed: 0               1586615 non-null  int64
 1   review_appearance_score  1586614 non-null  float64
 2   beer_style               1586614 non-null  object
 3   review_palate_score      1586614 non-null  float64
 4   review_taste_score       1586614 non-null  float64
 5   beer_name                1586614 non-null  object
 6   review_time              1586614 non-null  float64
 7   user_gender              637221 non-null   object
 8   user_birthday            327596 non-null   float64
 9   beer_ABV                 1518829 non-null  float64
 10  beer_id                  1586614 non-null  object
 11  review_overall_score     1586614 non-null  float64
 12  review_text              1586614 non-null  object
 13  review_user              1586614 non-null  object
 14  review_aroma_score       1586614 non-null  float64
dtypes: float64(8), int64(1), object(6)
memory usage: 181.6+ MB

In [8]:
len(ba_df['beer_id'].unique())

66056

In [12]:
ba_df.groupby('beer_id').mean().sort_values('review_overall_score', ascending=False).head()

,Unnamed: 0,review_appearance_score,review_palate_score,review_taste_score,review_time,user_birthday,beer_ABV,review_overall_score,review_aroma_score
beer_id,,,,,,,,,
'55446',1342449.0,5.0,4.5,5.0,1.263688e+09,399279600.0,9.0,5.0,4.0
'65556',11740.0,5.0,4.5,4.5,1.295825e+09,NaN,4.0,5.0,5.0
'9137',1535141.0,4.5,4.0,5.0,1.215965e+09,NaN,7.0,5.0,5.0
'4967',1494565.0,4.0,4.0,4.5,1.034207e+09,NaN,4.5,5.0,4.0
'70300',1045590.0,4.0,3.5,4.5,1.308774e+09,NaN,NaN,5.0,4.0